@charset "utf-8";
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #f1f5f9;
 font-family: 'roboto',sans-serif;
    font-size: 12px;
    }



body a{
	text-decoration:none;	
}

.bone{
		top: 30%;
    left: 50%;
    transform: translate(-50%,-10%);
    position: absolute;
	background: white;
	 padding: 80px;
	 border-radius:30px 30px 30px 30px;
	   font-size: 14px;
	   color: #233D7D;
             box-shadow: 12px 2px 5px rgba(0, 0, 0, 0.2);
           
	     
}
.bone b{
	   background: #233D7D;
	    padding: 20px;
	 border-radius:30px 30px 30px 30px;
	   color: white;
             box-shadow: 12px 2px 5px rgba(0, 0, 0, 0.2);
}

h1{
	color:#66bbff;	
}

.menu li,s ul ,a{
	 color:white;
	 padding:7px;
	 list-style:none;
       
	 
}
.menu ul li:hover{
	
    background:white;
    border-radius:10px 0px 0px 10px;
     cursor: pointer;
     color:black;
    

    float:flex;
}
.menu ul li:hover a{
	     color:black;
}
.menu li{
	text-transform:Uppercase;
          background:none;
          padding:10px;
	 
	 
}
.menu b{
	margin:0px 0px 0px 40px;
	    background:none;
	    padding:20px;
	 border-radius:0px 0px 0px 30px;
	
}
.menu{
	
     background:#233D7D;
	width:280px;
	 height:500px;
    position: fixed;
    margin-top:-14px;
     border-radius:30px 30px 30px 30px;
  box-shadow: 12px 2px 5px rgba(0, 0, 0, 0.2);
	
}

.tblistd{
	
	top: 30%;
    left: 50%;
    transform: translate(-50%,-10%);
    position: absolute;
	
}

.tblistd tr th{
	
    list-style: none;
    margin: 3px;
    padding: 5px;
    cursor: pointer;

    float:flex;
    text-transform: uppercase;
	
}



.tblist{
	 
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    position: absolute;
	
}


.tblist tr th{
    list-style: none;
    margin: 3px;
    padding: 5px;
    cursor: pointer;

    float:flex;
    text-transform: uppercase;
   
    
}

.tblistd{
	
	background-color:#233D7D;
	
}

.tblist button a{
	
	background-color:#233D7D;
            border-radius: 3px;
	
}


.tblist  {

	background-color:#233D7D;
}

.tblistd tr td {
	
    border-bottom: 1px solid rgb(240, 230, 230);
     color: rgb(163, 161, 161);
	
}

.tblist tr td {
    border-bottom: 1px solid rgb(240, 230, 230);
     color: rgb(163, 161, 161);
	
}


.tblistd {
  background: white;
    padding: 8px;
    border-radius:7px ;

}


.tblistd th {

	margin:0px;
}

.tblist {

  background: white;
    padding: 8px;
    border-radius:7px ;

}
.tblist th {
		
		margin:0px;
	
}

.btnnovo{
	   width: 100px;
    background: none;
    outline: none;
    padding: 8px;
    color: black;
    border: 2px solid #233D7D;
    border-radius:12px 12px 12px 12px;
    cursor: pointer;
   
	
}
input[type="submit"]{
	 text-align: center;
	 margin: 15px;
	
}



input[type="submit"]:hover{
     background: #233D7D;
    
}
